clones/
*.swp
app/nacionalrock/platforms/android/build
app/nacionalrock/.idea/
app/nacionalrock/platforms/
assets/com.xicnet.rockandpop/
app/nacionalclasica
app/rae
app/nacionalfolklorica
app/radionacionalam870
app/radiodesalon
app/lmf
app/rockandpop
bin/
ant-build/
ant-gen/
gen/
out/
