<ion-content [fullscreen]="true">
  <div id="container">
    <div class="section-play">
      <ion-button shape="round" color="primary" size="large" class="button-app">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="section-image">

    </div>

    <div class="section-link">
      <ion-button shape="round" color="primary" size="large" class="button-app">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="primary" size="large" class="button-app">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="primary" size="large" class="button-app">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="primary" size="large" class="button-app">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>

    </div>

  </div>
</ion-content>
